/* Estilos generales */
html {
    font-size: 16px;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Estilos de Header */
  header {
    background-color: #333;
    color:ghostwhite;
    justify-content: center;
    padding: 1rem;
    display: flex;
  }

h1{
    color:lightslategrey;
    font-size: 70px;
    background-size:cover;
}

h2{
    align-content:center;
    font-size: 50px;
    color:lightslategrey;
    vertical-align: super;
}

h3{
    color:black;
    background-color:gray;
    font-size: 25px;
}

ul{
    display: grid;
    font-size: 19px;
}

  main {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Define la cuadrícula */
    gap: 1rem; /* Espacio entre elementos */
    padding-bottom: 80px;
  }
  
  main > div {
    background-color: #75757550;
    border-radius: 5px;
    box-shadow: 0 0px 7px;
    padding: 0.5rem;
  }
  
  /* Footer - Social Links */
  footer {
    background-color: #333;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
  }
  
  .image-profile {
    margin-left: 40px;
    width: 190px; /* Tamaño cuadrado deseado */
    height: 190px; /* Tamaño cuadrado deseado */
    overflow: hidden;
    border-radius: 50px; /* Radio de borde redondeado */
  }
  
  .image-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px; /* Radio de borde redondeado */
  }
  
  
  
  
  
  @media screen and (max-width: 900px) {
    main {
        grid-template-columns: repeat(1, minmax(300px, 1fr)); /* Una columnas en pantallas más pequeñas */
    }
  }
  
  @media screen and (max-width: 550px) {
    main {
        grid-template-columns: repeat(1, minmax(300px, 1fr)); /* Una columna en pantallas más pequeñas */
    }
  } 